<!doctype html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Enzo">
    <title></title>
    <!-- Bootstrap core CSS -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script>if (window.module) module = window.module;</script>
    
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="../css/style.css"rel="stylesheet">
    <script>
      
    </script>
    </head>
  <body>
    <script>
      require('../js/index.js')
    </script>
    <div class = "container wd-100" >
      <div id = "bounds">
        <h3 id ="quote"></h3>
        <h5 id ="author"></h5>
        
    </div>
    <div class = "fixed-bottom" style="margin-left:3%;margin-bottom: 3%">
      <!-- <a id = "link" class="btn btn-sm btn-outline-info" href="" role="button">Source</a> -->
      <button id = "source" type ="button" class="btn btn-sm btn-outline-info">Source</button>
        <button id = "refresh" type ="button" class="btn btn-sm btn-outline-secondary">Refresh</button>
        <button id = "quit" type ="button" class="btn btn-sm btn-outline-danger">Quit</button>

    </div>
  </div> 
          
      



     


  </body>
</html>
